body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  color: #000000;
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img  {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  background: #eeeeee;
  padding: 50px 0 0;
}

.main-navigation {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 10px;
  align-items: center;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 820px;
  padding: 0;
  margin-left: 180px;
  margin-top: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.site-navigation li:last-child {
  padding-left: 200px;
}


.site-navigation li {
  padding: 0;
  padding-left: 45px;
}

 .cart-link {
  position: relative;
  width: 80px;
  padding-left: 38px;

}

.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation a {
  display: block;
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  background: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 80px;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
}

.index-item {
  width: 300px;
  height: 350px;
  margin-right: 98px;
  margin-bottom: 85px;
}

.index-item figure {
  margin: 0;
}

.index-item:nth-child(1) {
  margin-left: 0px;
}

.services .button {
  width: 160px;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.info {
  margin-top: 80px;
  margin-bottom: 78px;
}

.features {
  width: 360px;
  margin-left: 135px;
}

.info b {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 34px;
}

.info p {
  padding-top: 37px;
  padding-bottom: 45px;
}

.info-list li {
  position: relative;
  padding-top: 35px;
  padding-left: 37px;
}

.info-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  background-repeat: repeat;
  left: 0;
  top: 45px;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.info-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.features figure {
  margin: 0;
}

.features img {
  width: 360px;
  height: 208px;
  padding-top: 40px;
}

.features h4 {
  padding-top: 41px;
  padding-bottom: 50px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feature-item {
  min-width: 100px;
  text-align: left;
  padding-top: 50px;
  padding-right: 23px;
  padding-bottom: 78px;
}

.feature-item p {
  font-size: 16px;
  line-height: 18px;
  padding-top: 25px;
}

.feature-item h3 {
  margin: 0;
  font-size: 45px;
  line-height: 10px;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.partners .container {
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  min-height: 185px;
  margin: 0;
  padding: 0;
}

.map_wrapper {
  width: 1440px;
  min-height: 416px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  display: block;
  z-index: 1;
}

.adress {
  position: absolute;
  width: 320px;
  height: 310px;
  left: 170px;
  top: 2050px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 2;
  padding: 55px 45px 50px 45px;
}


.main-footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-left: 140px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer-social li {
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius: 50%;
  text-align: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.discount {
  margin-top: 78px;
  margin-left: 140px;
  width: 560px;
}

 .discount b {
   font-size: 36px;
   line-height: 36px;
   font-weight: 700;
 }


/* Модальное окно*/

 .modal-login {
  display: ;
  position: fixed;
  top: 140px;
  left: 50%;
  background-color: #ffffff;
  width: 740px;
  margin-left: -480px;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
}

.modal-login label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-login input [type="name"],
.modal-login input [type="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 15px;
  border-radius: 2px #d7dcde;
}

.modal-login input [type="text"] {
  box-sizing: border-box;
  width: 760px;
  padding: 13px;
  border-radius: 2px #d7dcde;
}

.modal-login input:hover {
  border: 2px solid #b4b9bb;
}

.modal-login input:focus {
  border: 2px solid #000000;
}

.modal-login input:invalid {
  border: 2px solid #e74246;
}
/*каталог*/

.caption {
  min-width: 1440px;
  margin: 0;
  padding: 0;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog {
  width: 760px;
  min-height: 1915px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 35px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-page h1 {
  min-height: 240px;
  margin: 0px;
  padding-top: 85px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
}

.sorting li {
  list-style: none;
  color: #cccccc;
}

.sorting li:hover {
  color: #666666;
}

.sorting li:active {
  color: #000000;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family:  Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters ul {
  list-style: none;
  line-height: 20px;
}

.filter-option input {
  opacity: 0.4;
}

.filter-option input:hover + label {
  color: #4d4d4d;
}

.filter-option input:disabled + label {
  opacity: 0.1;
}

.filters button {
  color: #000000;
  background-color: #eeeeee;
}

.filters button:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.filters button:focus {
  color: #959595;
  border-top: 3px solid #bfbfbf;
  background-color: #d5d5d5;
}

.catalog-list .figure {
  margin: 0;
}

.catalog-item-price b {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.pagination-list {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.paginator-item a {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 17px 0;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 5px;
  text-align: center;
}

.paginator-item:last-child a {
  width: 260px;
}

.paginator-item-current  {
  margin-right: 10px;
  padding: 14px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

.paginator-item-current:hover,
.paginator-item a:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.paginator-item-current:focus {
  color: #959595;
  border-top: #959595;
  background-color: #d5d5d5;
}

.paginator-item-current:active {
  color: #000000;
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
}

.paginator-item a:focus {
  color: #959595;
  border-top: #959595;
  background-color: #d5d5d5;
}

.paginator-item a:active {
  color: #000000;
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
}
